[submodule "check_ssl_cert"]
	path = check_ssl_cert
	url = https://github.com/matteocorti/check_ssl_cert.git
[submodule "check_ssllabs"]
	path = check_ssllabs
	url = https://github.com/slauger/check_ssllabs.git
[submodule "nagios-plugin-check_galera_cluster"]
	path = nagios-plugin-check_galera_cluster
	url = https://github.com/fridim/nagios-plugin-check_galera_cluster.git
[submodule "websphere-nagios"]
	path = websphere-nagios
	url = https://github.com/yannlambret/websphere-nagios.git
[submodule "nagios-rbl-check"]
	path = nagios-rbl-check
	url = https://github.com/egeland/nagios-rbl-check.git
[submodule "check_imap_login.git"]
	path = check_imap_login.git
	url = https://github.com/isavcic/check_imap_login.git
[submodule "check_poseidon.git"]
	path = check_poseidon.git
	url = https://github.com/NETWAYS/check_poseidon.git
[submodule "check_foreman.git"]
	path = check_foreman.git
	url = https://github.com/helge000/check_foreman.git
